
.col-md-3 {
  margin:20px;
  }
.container {
padding-top: 10px;
margin-left: 50px;
width: 700px;
}
.initially-hidden {
  display: none;
}

}
.clickable {
  cursor: pointer;
  color: #0088cc;
}
.clickable:hover {
  text-decoration: underline;
}
